APP_NAME=Kinetic Guard API
ENVIRONMENT=development

POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_PASSWORD=your_redis_password
REDIS_HOST=localhost
REDIS_PORT=6379

SECRET_KEY=generate_a_random_secret_key_here
NOMINATIM_USER_AGENT=KineticGuard_Dev_Environment

SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_google_app_password
