PROJECT_NAME=kinetic-guard
ENVIRONMENT=development
DOMAIN=local.kineticguard.com

POSTGRES_USER=kinetic_admin
POSTGRES_PASSWORD=supersecret_password
POSTGRES_DB=kinetic_guard_db

REDIS_PASSWORD=redis_secret

SECRET_KEY=my_super_secret_local_key_123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

NOMINATIM_USER_AGENT=KineticGuard_Dev_Environment

ACTIVE_MODEL_VERSION=v1.0.0
ONNX_MODEL_PATH=models/v1.0.0/model.onnx